# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test
/.cache
/.work
/_output
/config/
/config
cover.out
/vendor
/.vendor-new

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.swp
*.swo
*~

# Dependency directories (remove the comment below to include it)
vendor/
.idea
.DS_Store
bin/
tmp/
crds/

# Vscode files
.vscode