---
{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "oam-kubernetes-runtime.serviceAccountName" . }}
  labels:
  {{- include "oam-kubernetes-runtime.labels" . | nindent 4 }}
{{- end }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "oam-kubernetes-runtime.fullname" . }}
  labels:
  {{- include "oam-kubernetes-runtime.labels" . | nindent 4 }}
aggregationRule:
  clusterRoleSelectors:
  - matchLabels:
      rbac.oam.dev/aggregate-to-controller: "true"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "oam-kubernetes-runtime.fullname" . }}:system:aggregate-to-controller
  labels:
    {{- include "oam-kubernetes-runtime.labels" . | nindent 4 }}
    rbac.oam.dev/aggregate-to-controller: "true"
rules:
- apiGroups:
  - core.oam.dev
  resources:
  - "*"
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - deployments
  - controllerrevisions
  verbs:
  - "*"
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "*"
- apiGroups:
  - ""
  resources:
  - events
  - services
  - configmaps
  verbs:
  - "*"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "oam-kubernetes-runtime.fullname" . }}
  labels:
  {{- include "oam-kubernetes-runtime.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "oam-kubernetes-runtime.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "oam-kubernetes-runtime.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}

---
# permissions to do leader election.
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "oam-kubernetes-runtime.fullname" . }}-leader-election
  labels:
  {{- include "oam-kubernetes-runtime.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "oam-kubernetes-runtime.fullname" . }}-leader-election
  labels:
  {{- include "oam-kubernetes-runtime.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "oam-kubernetes-runtime.fullname" . }}-leader-election
subjects:
  - kind: ServiceAccount
    name: {{ include "oam-kubernetes-runtime.serviceAccountName" . }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "oam-kubernetes-runtime.fullname" . }}
  labels:
    {{- include "oam-kubernetes-runtime.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "oam-kubernetes-runtime.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        {{- include "oam-kubernetes-runtime.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "oam-kubernetes-runtime.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Release.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          args:
            - "--metrics-addr=:8080"
            - "--enable-leader-election"
            {{ if .Values.useWebhook }}
            - "--use-webhook=true"
            - "--webhook-port={{ .Values.webhookService.port }}"
            - "--webhook-cert-dir={{ .Values.certificate.mountPath }}"
            {{ end }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ quote .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{ if .Values.useWebhook }}
          ports:
            - containerPort: {{ .Values.webhookService.port }}
              name: webhook-server
              protocol: TCP
          volumeMounts:
            - mountPath: {{ .Values.certificate.mountPath }}
              name: tls-cert
              readOnly: true
          {{ end }}
      {{ if .Values.useWebhook }}
      volumes:
        - name: tls-cert
          secret:
            defaultMode: 420
            secretName: {{ .Values.certificate.secretName | quote }}
      {{ end }}
      terminationGracePeriodSeconds: 10
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
